.infoTop {
	margin: 60px 0;
	.container {
		max-width: 1280px;
		margin: 0 auto;

		.infoTopInner {
			display: flex;
			max-height: 584px;

			.textInfoBlock {
				padding: 60px 100px 60px 60px;
				color: #fff;

				h2 {
					color: #fff;
					line-height: 140%;
					max-width: 500px;
					padding-bottom: 40px;
				}

				.viewBtnBlock {
					padding-bottom: 200px;

					button {
						padding: 16px 32px;
						background-color: rgba(249, 249, 249, 0.15);
						color: #fff;
						font-size: 16px;
					}
				}

				.textBlock {
					font-size: 18px;
					line-height: 150%;
				}
			}
		}

		.textInfoBlock {
			background-color: #2a254b;
		}
	}
}
