.about {
  margin-bottom: 170px;

  @media (max-width: 1000px) {
    margin-bottom: 90px;
  }

  .container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 60px 10px 0px 10px;

    @media (max-width: 1000px) {
      padding: 60px 25px 0px 25px;
    }

    .aboutTitle {
      text-align: center;
      padding-bottom: 50px;

      @media (max-width: 560px) {
        padding-bottom: 40px;
      }
    }

    .itemContainer {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 60px;

      @media (max-width: 1000px) {
        grid-gap: 35px;
        grid-template-columns: repeat(2, 2fr);
      }

      @media (max-width: 560px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .itemImg {
        padding-bottom: 15px;
      }

      .itemTitle {
        padding-bottom: 8px;
      }
    }
  }
}