.newProdBlock {
	margin-bottom: 120px;

	.container {
		max-width: 1280px;
		margin: 0 auto;

		.newProdInner {
			padding-bottom: 35px;

			.newProdTitle {
				padding-bottom: 30px;
			}

			.newProdItem {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
        padding-bottom: 35px;
			}

			.viewBtnBlock {
        display: flex;
        justify-content: center;

				button {
					padding: 16px 32px;
					background-color: #F9F9F9;
					color: #2A254B;
					font-size: 16px;
				}
			}
		}
	}
}
