.singUp {
  padding: 65px 0;
  background-color: #F9F9F9;

  .container {
    max-width: 1280px;
    margin: 0 auto;

    .singUpInner {
      text-align: center;
      background-color: #FFF;
      padding: 70px 350px 50px 350px;

      .singUpTitle {
        padding-bottom: 15px;
      }
      
      .singUpText {
        max-width: 470px;
        font-size: 16px;
        margin: 0 auto;
        padding-bottom: 70px;
      }

      .singUpInput {

        input {
          background-color: #F9F9F9;
          padding: 16px 32px 16px 32px;
          height: 56px;
          width: 350px;
          font-size: 16px;
        }

        button {
          padding: 16px 32px;
          background-color: #2A254B;
          color: #FFF;
          height: 56px;
        }
      }
    }
  }
}