.itemBlock {
  @media (max-width: 1350px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 600px) {
    align-items: start;
  }
  
  .itemBlokImg {
    padding-bottom: 8px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  .itemTitle {
    padding-bottom: 8px;
  }
}